/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* my css */

#slide-out{
  background: url("../images/try.jpg")
   }

/* Color */

   #whiteColor{
     color:azure;
     font-size: 20px;

   }

   #white{
     color:white;
   }
   #sideNavFont{
     
     color: black;
     font-size: 30px;
     font-family: 'Work Sans', sans-serif;
   }
   #Font{
     font-family: 'Work Sans', sans-serif;
   }

   #black{
    background-color: black;
  }

    #fontBlack{
      color: black;
    }

/* Cards */



   #bottomBorder{
     border-bottom: 2px solid black;
   }
   #bottomBorderWhite{
     border-bottom: 2px solid white;
   }


   #margin1{
     margin-left: 150px;
     margin-top: 0px;
   }
   #margin2{
     margin-bottom: 100px;
   }
   #margin3{
    margin-bottom: 200px;
   }

 